@import "../css/reset.css";
.ptserif-font {
  font-family: 'PT Serif', serif;
}
body {
  background-color: #fff9e7;
}
body .container {
  background: #fff9e7 url("../img/bg.png") no-repeat bottom right;
}
.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.mobile-nav {
  display: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.mobile-nav ul li {
  margin-bottom: 5px;
  margin-top: 5px;
}
.mobile-nav ul li a {
  color: #ff742b;
  text-decoration: none;
  padding-bottom: 5px;
}
.header_top {
  width: 100%;
  height: 48px;
  background: #ff742b;
  background: linear-gradient(#ff8331, #ff6626);
}
.inner-header {
  display: flex;
  align-items: center;
  height: 48px;
}
.inner-header .main-nav {
  flex-grow: 2;
}
.inner-header .main-nav .fas {
  display: none;
}
.inner-header .header-basket {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #fff;
}
.inner-header .header-basket .basket-counter {
  border-right: 1px dotted rgba(255, 255, 255, 0.2);
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 5px;
}
.inner-header .header-basket i {
  color: #ffea00;
}
.inner-header .header-basket a.ptserif-font {
  font-style: italic;
  color: #ffea00;
  font-size: 14px;
}
.inner-header nav {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.inner-header nav > ul {
  font-size: 0;
}
.inner-header nav > ul > li {
  display: inline-block;
  font-size: 12px;
  margin: 0 17px;
  border-top: 2px solid transparent;
  position: relative;
}
.inner-header nav > ul > li ul.sub-menu {
  z-index: 9;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07);
  display: none;
}
.inner-header nav > ul > li ul.sub-menu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 5px 4.5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -5px;
  left: 34px;
}
.inner-header nav > ul > li ul.sub-menu li {
  margin: 0 25px;
}
.inner-header nav > ul > li ul.sub-menu li:hover {
  border-color: transparent;
}
.inner-header nav > ul > li ul.sub-menu li:hover a {
  color: #ff742b;
}
.inner-header nav > ul > li ul.sub-menu a {
  color: #8d8c8b;
}
.inner-header nav > ul > li:hover {
  color: #ffea00;
  border-top: 2px solid #ffea00;
}
.inner-header nav > ul > li:hover ul.sub-menu {
  display: block;
}
.inner-header nav > ul > li a {
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  display: block;
}
.home-slider {
  position: relative;
}
.home-slider ul.slick-dots {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -40px;
  margin-left: 40px;
}
.home-slider ul.slick-dots button {
  background: none;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border-radius: 100%;
  font-size: 0;
  cursor: pointer;
}
.home-slider ul.slick-dots li.slick-active button {
  background: rgba(0, 0, 0, 0.4);
}
.home-slider .slide {
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  min-height: 674px;
  box-sizing: border-box;
}
.home-slider .slide .slide-title {
  font-family: 'Fredoka One', cursive;
  font-size: 68px;
  color: #fff;
  text-align: center;
  text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
  line-height: 82px;
}
.home-slider .slide .slide-data {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  min-height: 410px;
}
.home-slider .slide .slide-description {
  width: 37%;
  z-index: 2;
  padding-left: 90px;
  box-sizing: border-box;
}
.home-slider .slide .slide-description .data-orange {
  font-family: 'Fredoka One', cursive;
  color: #ffea00;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 25px;
  display: inline-block;
}
.home-slider .slide .slide-description p.data-description {
  color: #fff;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
.home-slider .slide .slide-description .data-cite {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 23px;
  color: #fff;
  line-height: 28px;
}
.home-slider .slide .img-price {
  width: 50%;
  margin-left: -60px;
  z-index: 1;
  position: relative;
}
.home-slider .slide .img-price .slide-price {
  position: absolute;
  right: 0;
  top: 50%;
  width: 143px;
  height: 143px;
  margin-top: -71px;
  background-color: #4ba321;
  color: #ffea00;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-slider .slide .img-price .slide-price span {
  font-family: 'Fredoka One', cursive;
  font-size: 54px;
  text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1);
}
section.about-us {
  padding: 30px 0 50px 0;
  box-sizing: border-box;
  text-align: center;
}
section.about-us h1.title {
  font-family: 'Fredoka One', cursive;
  color: #a07258;
  font-size: 54px;
  display: inline-block;
  border-bottom: 1px solid rgba(160, 114, 88, 0.3);
  margin-bottom: 25px;
  line-height: 90px;
}
section.about-us span.subtitle {
  display: block;
  color: #a07258;
  font-size: 23px;
  font-family: 'PT Serif', serif;
  padding: 0 9%;
  line-height: 1.4;
  margin-bottom: 40px;
}
section.about-us p.description {
  color: #a07258;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  padding: 0 12%;
  line-height: 18px;
}
div.search-box {
  margin-bottom: 60px;
}
div.search-box form.search {
  display: flex;
}
div.search-box form.search input[type="text"] {
  padding: 0;
  margin: 0;
  border: 0;
  width: calc(100% - 181px);
  height: 78px;
  border-top: 3px solid #ffeb90;
  border-left: 3px solid #ffeb90;
  border-bottom: 3px solid #ffeb90;
  outline: none;
  font-size: 22px;
  font-family: 'PT Serif', serif;
  color: #a07258;
  padding-right: 25px;
  padding-left: 25px;
  box-sizing: border-box;
}
div.search-box form.search input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(160, 114, 88, 0.3);
}
div.search-box form.search input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(160, 114, 88, 0.3);
}
div.search-box form.search input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(160, 114, 88, 0.3);
}
div.search-box form.search input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(160, 114, 88, 0.3);
}
div.search-box form.search button.search-btn {
  background: linear-gradient(#ff6c22, #ff4716);
  color: #fff;
  font-family: 'Fredoka One', cursive;
  font-size: 22px;
  border: 0;
  outline: none;
  height: 78px;
  width: 181px;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #e94415;
}
div.search-box form.search button.search-btn i {
  color: #ffea00;
  margin-left: 5px;
}
div.search-box form.search button.search-btn:hover {
  cursor: pointer;
  background: linear-gradient(#ff4716, #ff6c22);
  transition: 1.5s;
  border-bottom: 3px solid #f36942;
}
.info-box .info-align {
  display: flex;
  align-items: stretch;
}
.info-box .video-box {
  width: 50%;
  background: #000000;
  color: #fff;
  padding: 41px 0;
}
.info-box .video-box img {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}
.info-box .video-box figure {
  position: relative;
}
.info-box .video-box figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box .video-box figure figcaption a {
  color: inherit;
  margin-right: 30px;
}
.info-box .video-box figure figcaption a:hover {
  color: #ffea00;
  transition: 1.5s;
}
.info-box .video-box figure figcaption .play-icon {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 90px;
  font-size: 25px;
  display: block;
}
.info-box .video-box figure figcaption .title-data .video-title {
  font-family: 'Fredoka One', cursive;
  font-size: 33px;
  margin-bottom: 5px;
}
.info-box .video-box figure figcaption .title-data .video-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.info-box .about-box {
  width: 50%;
  background: #53a726 url(../img/man.png) right bottom no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.info-box .about-box i.fa-quote-left {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.1);
  font-size: 100px;
  margin-left: -30px;
  margin-top: 30px;
}
.info-box .about-box .about-data {
  color: #fff;
  margin-left: 60px;
  max-width: 220px;
}
.info-box .about-box .about-data span.name {
  display: block;
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
  line-height: 24px;
}
.info-box .about-box .about-data span.job {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  color: #b8ece8;
  margin-bottom: 16px;
}
.info-box .about-box .about-data p.about-description {
  font-family: 'PT Serif', serif;
  font-size: 12px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 0;
}
.shop-slider .shop-carusel {
  background: #fff;
  display: flex;
}
.shop-slider .shop-carusel .item {
  width: 25%;
  box-sizing: border-box;
  border-right: 1px solid #f8f4f3;
  max-height: 371px;
  overflow: hidden;
}
.shop-slider .shop-carusel .item:hover .item-img {
  margin-top: -70px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.shop-slider .shop-carusel .item .item-img {
  min-height: 273px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.shop-slider .shop-carusel .item h4.item-title {
  color: #686868;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 10px 0;
}
.shop-slider .shop-carusel .item .item-price {
  padding: 20px 0;
  display: block;
  font-size: 26px;
  color: #000000;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}
.shop-slider .shop-carusel .item a.item-btn {
  display: block;
  width: 100%;
  height: 67px;
  line-height: 67px;
  border-bottom: 3px solid #e7311e;
  background: linear-gradient(#ff4716, #ff6c22);
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}
.shop-slider .shop-carusel .item a.item-btn i {
  color: #ffea00;
  font-size: 20px;
}
.shop-slider .top-title_line {
  min-height: 81px;
  background: linear-gradient(#ff4716, #ff6c22);
  display: flex;
  align-items: center;
}
.shop-slider .top-title_line .shop-slider_nav {
  display: flex;
  align-items: stretch;
}
.shop-slider .top-title_line .shop-slider_nav .left {
  width: 55px;
  height: 81px;
  background: #eb4516;
  color: #ffcaae;
  font-size: 20px;
  text-align: center;
  line-height: 81px;
  border-right: 1px solid #df4115;
  transition: 1s;
}
.shop-slider .top-title_line .shop-slider_nav .right {
  width: 55px;
  height: 81px;
  background: #eb4516;
  color: #ffcaae;
  font-size: 20px;
  text-align: center;
  line-height: 81px;
  transition: 1s;
}
.shop-slider .top-title_line .shop-slider_nav .left,
.shop-slider .top-title_line .shop-slider_nav .right {
  cursor: pointer;
}
.shop-slider .top-title_line .shop-slider_nav .left:hover,
.shop-slider .top-title_line .shop-slider_nav .right:hover {
  background: #ef3500;
  color: #fff;
  transition: 1s;
}
.shop-slider .top-title_line .shop-box_title {
  flex-grow: 1;
  text-align: center;
  color: #fff;
  font-family: 'Fredoka One', cursive;
  font-size: 43px;
}
.shop-slider .top-title_line .shop-category {
  font-size: 14px;
  font-family: 'PT Serif', serif;
  color: #ffeb90;
  padding-right: 28px;
}
.shop-slider .top-title_line .shop-category .dropdown-list {
  cursor: pointer;
}
.shop-slider .top-title_line .shop-category span.text {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px dashed #fff;
}
.shop-slider .top-title_line .shop-category i {
  font-size: 8px;
}
.information-box .banana-box {
  width: 100%;
  min-height: 516px;
  background: url(../img/banana-bg.png) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information-box .banana-box h3.info-title {
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-size: 43px;
  line-height: 43px;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 0.74em;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 35px;
}
.information-box .banana-box p.info-description {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(255, 116, 43, 0.22);
  line-height: 36px;
  padding: 0 14%;
  margin-bottom: 40px;
}
.information-box .banana-box a.info-link {
  display: block;
  text-decoration: none;
  color: #ff742b;
  font-size: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 0 rgba(255, 116, 43, 0.22);
  padding: 10px 20px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.information-box .banana-box a.info-link:hover {
  box-shadow: none;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.blog-feedback .blog-container {
  display: flex;
  align-items: stretch;
  background: #fff;
}
.blog-feedback .blog-container .left-blog {
  width: 270px;
  flex-grow: 1;
  border-right: 1px solid #f2f2f2;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
.blog-feedback .blog-container .left-blog h3.blog-box_title {
  color: #ff742b;
  font-family: 'Fredoka One', cursive;
  font-size: 63px;
  line-height: 63px;
  margin-bottom: 30px;
}
.blog-feedback .blog-container .left-blog form {
  margin-bottom: 37px;
}
.blog-feedback .blog-container .left-blog form label {
  color: #ff742b;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 16px;
  display: block;
}
.blog-feedback .blog-container .left-blog form .email-box {
  background: linear-gradient(#ff6726, #ff8331);
  height: 34px;
  width: 100%;
  border-top: 3px solid #f26023;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-feedback .blog-container .left-blog form .email-box input[type="text"] {
  height: 31px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: transparent;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
  width: calc(100% - 35px);
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #ffcaae;
  margin-bottom: 3px;
}
.blog-feedback .blog-container .left-blog form .email-box input[type="text"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffcaae;
}
.blog-feedback .blog-container .left-blog form .email-box input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffcaae;
}
.blog-feedback .blog-container .left-blog form .email-box input[type="text"]:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffcaae;
}
.blog-feedback .blog-container .left-blog form .email-box input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #ffcaae;
}
.blog-feedback .blog-container .left-blog form .email-box button.blog-email_submit {
  border: none;
  margin-right: 20px;
  outline: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  width: 11px;
  font-size: 15px;
}
.blog-feedback .blog-container .left-blog .blog-list article {
  margin-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 30px;
}
.blog-feedback .blog-container .left-blog .blog-list article .blog-post_info {
  color: #bdbcbb;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  padding: 15px 0;
}
.blog-feedback .blog-container .left-blog .blog-list article .blog-post_info i {
  margin-right: 5px;
}
.blog-feedback .blog-container .left-blog .blog-list article .blog-post_info .post-date {
  margin-right: 7px;
}
.blog-feedback .blog-container .left-blog .blog-list article .blog-post_info .post-comment {
  margin-left: 7px;
}
.blog-feedback .blog-container .left-blog .blog-list article:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.blog-feedback .blog-container .left-blog .blog-list article a.post-title {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.blog-feedback .blog-container .left-blog .blog-list article a.post-title:hover {
  text-decoration: underline;
}
.blog-feedback .blog-container .right-feedback {
  width: calc(100% - 271px);
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item {
  display: none;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item .feedback-title {
  font-family: 'PT Serif', serif;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  padding: 50px 40px 15px 40px;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item .feedback-adress {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: #d4d3d2;
  display: block;
  padding: 0 40px 24px 40px;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item .feedback-adress i {
  margin-right: 10px;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item .cite {
  display: block;
  color: #7b7a79;
  font-size: 22px;
  font-style: italic;
  font-family: 'PT Serif', serif;
  line-height: 30px;
  padding: 0 40px 40px 40px;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item .feedback-gallery {
  display: flex;
  margin-bottom: 40px;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-item p.feedback-description {
  padding: 0 40px 35px 40px;
  font-family: 'Raleway', sans-serif;
  color: #7b7a79;
  font-size: 13px;
  line-height: 24px;
}
.blog-feedback .blog-container .right-feedback .feedback-container .tab-0 {
  display: block;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box {
  display: flex;
  align-items: stretch;
  border-top: 4px solid #fff3ef;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .left-arrow,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .right-arrow {
  width: 59px;
  height: 243px;
  background: #fff3ef;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .left-arrow .left,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .right-arrow .left,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .left-arrow .right,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .right-arrow .right {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #ff742b;
  font-size: 20px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .left-arrow .left:hover,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .right-arrow .left:hover,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .left-arrow .right:hover,
.blog-feedback .blog-container .right-feedback .feedback-slider_box .right-arrow .right:hover {
  background: linear-gradient(#5ab527, #3c911b);
  cursor: pointer;
  color: #fff;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel {
  width: calc(100% - 118px);
  display: flex;
  margin-top: -10px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .slick-list {
  padding-top: 10px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .slick-slide.slick-current .person::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 12px 12px;
  border-color: transparent transparent #fff3ef transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .slick-slide.slick-current .person::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .slick-slide.slick-current .person img {
  border: 11px solid #ffefdc;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 239px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person img {
  border-radius: 100%;
  border: 11px solid transparent;
  margin-bottom: 15px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person h6.person_name {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  line-height: 16px;
  margin-bottom: 9px;
}
.blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person span.person_adress {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  color: #d4b8a9;
}
.adds_block {
  margin-top: 40px;
}
.adds_block .three-boxes {
  display: flex;
  align-items: stretch;
  margin-bottom: 75px;
}
.adds_block .three-boxes .item-box {
  width: 33.33333%;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  box-sizing: border-box;
}
.adds_block .three-boxes .item-box .adds_title {
  font-family: 'Fredoka One', cursive;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 9px;
}
.adds_block .three-boxes .item-box a.adds_link {
  text-decoration: none;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
}
.adds_block .three-boxes .item-box a.adds_link:hover {
  text-decoration: underline;
}
.adds_block .three-boxes .item-box.item-1 {
  background: url(../img/blocks/orange.png) no-repeat center center;
  box-shadow: 0 40px 50px -35px rgba(255, 129, 52, 0.55);
}
.adds_block .three-boxes .item-box.item-2 {
  background: url(../img/blocks/vegetables.png) no-repeat center center;
  box-shadow: 0 40px 50px -35px rgba(75, 163, 33, 0.55);
}
.adds_block .three-boxes .item-box.item-3 {
  background: url(../img/blocks/berries.png) no-repeat center center;
  box-shadow: 0 40px 50px -35px rgba(218, 45, 80, 0.55);
}
.top-footer .footer_container {
  display: flex;
  padding-bottom: 80px;
}
.top-footer .footer_container .navigation_box,
.top-footer .footer_container .contacts_box,
.top-footer .footer_container .twitter_box {
  width: 33.33333%;
}
.top-footer .footer_container .twitter_box h6.widget_title {
  color: #5ad2ff;
  font-family: 'Fredoka One', cursive;
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 24px;
}
.top-footer .footer_container .twitter_box i {
  margin-right: 8px;
  font-size: 20px;
}
.top-footer .footer_container .twitter_box .twitter-slider {
  display: flex;
}
.top-footer .footer_container .twitter_box .twitter-slider .arrows {
  width: 30px;
}
.top-footer .footer_container .twitter_box .twitter-slider .arrows .up i {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #c1a392;
  color: #fff;
  font-size: 7px;
  text-align: center;
  line-height: 14px;
  margin-right: 0;
  margin-bottom: 6px;
  cursor: pointer;
  transition: 1s;
}
.top-footer .footer_container .twitter_box .twitter-slider .arrows .up i:hover {
  background: #ff742b;
  transition: 1s;
}
.top-footer .footer_container .twitter_box .twitter-slider .arrows .down i {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #c1a392;
  color: #fff;
  font-size: 7px;
  text-align: center;
  line-height: 14px;
  margin-right: 0;
  cursor: pointer;
}
.top-footer .footer_container .twitter_box .twitter-slider .arrows .down i:hover {
  background: #ff742b;
  transition: 1s;
}
.top-footer .footer_container .twitter_box .twitter-slider .content_slider_twitter {
  width: calc(100% - 30px);
}
.top-footer .footer_container .twitter_box .twitter-slider .content_slider_twitter p {
  font-family: 'PT Serif', serif;
  font-size: 13px;
  font-style: italic;
  color: #7b7a79;
  line-height: 18px;
  margin-bottom: 13px;
}
.top-footer .footer_container .twitter_box .twitter-slider .content_slider_twitter .author {
  font-family: 'Raleway', sans-serif;
  color: #5ad2ff;
  font-size: 11px;
  font-weight: 700;
}
.top-footer .footer_container .twitter_box .twitter-slider .content_slider_twitter .author a {
  color: inherit;
  text-decoration: none;
}
.top-footer .footer_container .twitter_box .twitter-slider .content_slider_twitter .time {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  color: #7b7a79;
}
.top-footer .footer_container .contacts_box h6.widget_title {
  font-family: 'Fredoka One', cursive;
  color: #ff742b;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 28px;
}
.top-footer .footer_container .contacts_box span {
  display: block;
}
.top-footer .footer_container .contacts_box .phone {
  color: #7b7a79;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 10px;
}
.top-footer .footer_container .contacts_box .phone strong {
  font-weight: 700;
}
.top-footer .footer_container .contacts_box a {
  color: #7b7a79;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}
.top-footer .footer_container .contacts_box a:hover {
  text-decoration: underline;
}
.top-footer .footer_container .contacts_box .adress {
  color: #7b7a79;
  margin-top: 10px;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
}
.top-footer .footer_container .contacts_box .adress strong {
  font-weight: 700;
}
.top-footer .footer_container .contacts_box .adress i {
  color: #c5c3c2;
  margin-right: 5px;
}
.top-footer .footer_container .navigation_box {
  display: flex;
}
.top-footer .footer_container .navigation_box h6.widget_title {
  font-family: 'Fredoka One', cursive;
  color: #ff742b;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 28px;
}
.top-footer .footer_container .navigation_box nav ul {
  color: #7b7a79;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
}
.top-footer .footer_container .navigation_box nav ul a {
  text-decoration: none;
  color: inherit;
}
.top-footer .footer_container .navigation_box nav ul a:hover {
  text-decoration: underline;
}
.top-footer .footer_container .navigation_box .navigation-1,
.top-footer .footer_container .navigation_box .navigation-2 {
  width: 50%;
}
footer.footer {
  background: #ff742b;
  color: #fff;
  min-height: 220px;
  position: relative;
}
footer.footer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(#f95529, #ff742b);
}
footer.footer .footer_nav {
  min-height: 86px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer.footer .footer_nav ul {
  font-size: 0;
}
footer.footer .footer_nav ul li {
  display: inline-block;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
footer.footer .footer_nav ul li a {
  transition: 1s;
}
footer.footer .footer_nav ul li a:hover {
  transition: 1s;
  opacity: 0.7;
}
footer.footer .footer_nav ul li:first-child::before {
  display: none;
}
footer.footer .footer_nav ul li::before {
  content: '•';
  display: inline-block;
  margin-right: 28px;
  margin-left: 28px;
}
footer.footer a {
  color: inherit;
  text-decoration: none;
}
footer.footer .social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}
footer.footer .social-block .social-icons span a {
  transition: 1s;
}
footer.footer .social-block .social-icons span a:hover {
  transition: 1s;
  color: rgba(255, 255, 255, 0.6);
}
footer.footer .social-block .social-icons span i {
  margin-right: 10px;
}
footer.footer .social-block .social-icons .rights {
  margin-left: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
}
/* Responsive code section */
@media only screen and (max-width: 960px) {
  .wrapper {
    width: calc(100% - 20px);
  }
}
@media only screen and (max-width: 768px) {
  .inner-header nav > ul {
    display: none;
  }
  .inner-header .main-nav .fa-bars {
    display: block;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
  }
  .inner-header .main-nav .fa-times {
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
  }
  .inner-header .main-nav {
    display: flex;
  }
  .inner-header nav > ul > li {
    margin: 0 3px;
    font-size: 11px;
  }
  .inner-header nav > ul > li a {
    line-height: 12px;
  }
  .home-slider .slide .slide-title {
    font-size: 40px;
    line-height: 50px;
  }
  .home-slider .slide {
    height: 450px;
  }
  .home-slider .slide .slide-data {
    height: 300px;
  }
  .blog-feedback .blog-container .right-feedback .feedback-container .tab-item .feedback-gallery a img {
    width: 100%;
  }
  .blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person img {
    max-width: 60%;
  }
  .blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person h6.person_name {
    font-size: 12px;
  }
  .adds_block .three-boxes .item-box {
    min-height: 180px;
  }
  .adds_block .three-boxes .item-box .adds_title {
    font-size: 35px;
  }
}
@media only screen and (max-width: 414px) {
  .home-slider .slide .slide-title {
    font-size: 24px;
    line-height: 20px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  .home-slider .slide .slide-description {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .home-slider .slide .slide-data {
    display: block;
    min-height: 0;
    padding-top: 30px;
  }
  .home-slider .slide .img-price {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .slick-slide img {
    max-width: 50%;
  }
  .home-slider ul.slick-dots {
    margin-left: 15px;
  }
  section.about-us span.subtitle {
    font-size: 18px;
  }
  .info-box .info-align {
    flex-direction: column;
  }
  .info-box .video-box,
  .info-box .about-box {
    width: 100%;
  }
  .info-box .about-box {
    min-height: 310px;
  }
  .shop-slider .top-title_line .shop-box_title {
    font-size: 18px;
  }
  .shop-slider .top-title_line .shop-slider_nav .right,
  .shop-slider .top-title_line .shop-slider_nav .left {
    width: 40px;
  }
  .shop-slider .top-title_line .shop-category {
    padding-right: 10px;
  }
  .shop-slider .shop-carusel .item {
    max-height: none;
  }
  .shop-slider .shop-carusel .item:hover .item-img {
    margin: 0;
  }
  .information-box .banana-box h3.info-title {
    font-size: 35px;
    letter-spacing: 0.2em;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  .information-box .banana-box p.info-description {
    font-size: 18px;
    line-height: 24px;
  }
  .blog-feedback .blog-container {
    flex-direction: column;
  }
  .blog-feedback .blog-container .left-blog,
  .blog-feedback .blog-container .right-feedback,
  .adds_block .three-boxes .item-box.item-1,
  .adds_block .three-boxes .item-box.item-2,
  .adds_block .three-boxes .item-box.item-3 {
    width: 100%;
  }
  .adds_block .three-boxes {
    flex-direction: column;
    align-items: center;
  }
  .adds_block .three-boxes .item-box {
    padding-left: 65px;
    margin-bottom: 30px;
    max-width: 320px;
  }
  .top-footer .footer_container {
    flex-wrap: wrap;
  }
  .top-footer .footer_container .navigation_box {
    width: 100%;
    margin-bottom: 20px;
  }
  .top-footer .footer_container .contacts_box {
    width: 50%;
  }
  .top-footer .footer_container .twitter_box {
    width: 50%;
  }
  .top-footer .footer_container .contacts_box .phone {
    font-size: 19px;
  }
  footer.footer .footer_nav ul li::before {
    display: none;
  }
  footer.footer .footer_nav ul li {
    padding: 3px;
  }
}
