@import "../css/reset.css";

@yellow: #ffea00;
@white: #fff;
@orange: #ff742b;

.fredoka_font(){
    font-family: 'Fredoka One', cursive;
}

.raleway_font(){
    font-family: 'Raleway', sans-serif;
}

.ptserif_font(){
    font-family: 'PT Serif', serif;
}

.quicksand_font(){
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.ptserif-font{
   .ptserif_font() 
}

body{
    background-color: #fff9e7;
    
    .container{
        background: #fff9e7 url("../img/bg.png") no-repeat bottom right;
    }
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.mobile-nav{
    display: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    text-transform: uppercase;    
    text-align: center;

    ul{
        li{
            margin-bottom: 5px;
            margin-top: 5px;
            a{
                
              color: @orange;
              text-decoration: none;
              padding-bottom: 5px;
            }
        }
    }
}
.header_top{
    width: 100%;
    height: 48px;
    background: @orange;
    background: linear-gradient(#ff8331, #ff6626);
}
    .inner-header{
        display: flex;
        align-items: center;
        height: 48px;

        .main-nav{
            flex-grow: 2;

            .fas{
                display: none;
            }
        }
        
        .header-basket{
            .quicksand_font();
             color: #fff;

            .basket-counter{
                border-right: 1px dotted rgba(255, 255, 255, 0.2);
                padding-left: 5px;
                padding-right: 10px;
                margin-right: 5px;
            }
            i {
                color: @yellow;
            }
            a.ptserif-font{
                font-style: italic;
                color: @yellow;
                font-size: 14px;
            }
        }

        nav{
            .quicksand_font();
            text-transform: uppercase;
           > ul {
                font-size: 0;
               > li{
                    display: inline-block;
                    font-size: 12px;
                    margin: 0 17px;
                    border-top: 2px solid transparent;
                    position: relative;

                    ul.sub-menu{
                        z-index: 9;
                        &::before{
                          content: "";
                          display: block;
                          width: 0;
                          height: 0;
                          border-style: solid;
                          border-width: 0 4.5px 5px 4.5px;
                          border-color: transparent transparent #ffffff transparent;
                          position: absolute;
                          top: -5px;
                          left: 34px;
                        }
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: #fff;
                        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.07); 
                        display: none;

                        li{
                            margin: 0 25px;

                            &:hover{                                
                                border-color: transparent;

                                a {
                                    color: @orange;
                                }
                            }
                        }

                        a {
                            color: #8d8c8b;
                        }
                    }

                    &:hover{
                        ul.sub-menu{
                            display: block;
                        }
                        color: @yellow;
                        border-top: 2px solid @yellow;
                    }

                    a{
                        color: #fff;
                        text-decoration: none;
                        line-height: 46px;
                        display: block;                     
                        } 
                    }
                }
            }
        }

.home-slider{
    position: relative;

    ul.slick-dots{
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -40px;
        margin-left: 40px;

        button{
            background: none;
            border: none;
            outline: none;
            width: 10px;
            height: 10px;
            display: block;
            background: rgba(0, 0, 0, 0.1);
            padding: 0;
            margin: 0;
            margin-bottom: 24px;
            border-radius: 100%;
            font-size: 0;
            cursor: pointer;
            }
            li.slick-active button{
                background: rgba(0, 0, 0, 0.4);
            }
    }
    .slide{
        padding-top: 100px;
        background-position: center;
        background-size: cover;
        min-height: 674px;
        box-sizing: border-box;
        .slide-title{
            .fredoka_font();
            font-size: 68px;
            color: #fff;
            text-align: center;
            text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1); 
            line-height: 82px;           
        }
        .slide-data{
            display: flex;
            align-items: center;
            padding-bottom: 35px;
            min-height: 410px;
        }
        .slide-description{
            width: 37%;
            z-index: 2;
            padding-left: 90px;
            box-sizing: border-box;

            .data-orange{
                .fredoka_font();
                color: @yellow;
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 25px;
                display: inline-block;
            }
            p.data-description{
                color: #fff;
                font-size: 12px;                
                .raleway_font();
                font-weight: 500;
                line-height: 24px;
                margin-bottom: 20px;
            }
            .data-cite{
                .ptserif_font();
                font-style: italic;
                font-size: 23px;
                color: #fff;
                line-height: 28px;
            }
        }
        .img-price{
            width: 50%;
            margin-left: -60px;
            z-index: 1;
            position: relative;

            .slide-price{
                position: absolute;
                right: 0;
                top: 50%;
                width: 143px;
                height: 143px;
                margin-top: -71px;
                background-color: #4ba321;
                color: @yellow;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    .fredoka_font();
                    font-size: 54px;
                    text-shadow: 7px 7px 0 rgba(0, 0, 0, 0.1); 
                }
            }
        }
    }
}

section.about-us{
    padding: 30px 0 50px 0;
    box-sizing: border-box;  
    text-align: center;  

    h1.title{
        .fredoka_font();
        color: #a07258;        
        font-size: 54px;
        display: inline-block;
        border-bottom: 1px solid rgba(160, 114, 88, 0.3);
        margin-bottom: 25px;
        line-height: 90px;
    }
    span.subtitle{
        display: block; 
        color: #a07258;
        font-size: 23px;
        .ptserif_font();
        padding: 0 9%;  
        line-height: 1.4;
        margin-bottom: 40px;     
    }
    p.description{
        color: #a07258;
        font-size: 12px;
        .raleway_font();
        padding: 0 12%;
        line-height: 18px;
    }
}

div.search-box{
    margin-bottom: 60px;

    form.search{
        display: flex;

        input[type="text"]{
            padding: 0;
            margin: 0;
            border: 0;
            width: ~"calc(100% - 181px)";
            height: 78px;
            border-top: 3px solid #ffeb90;
            border-left: 3px solid #ffeb90;
            border-bottom: 3px solid #ffeb90;
            outline: none;
            font-size: 22px;
            .ptserif-font();
            color: #a07258;
            padding-right: 25px;
            padding-left: 25px;
            box-sizing: border-box;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgba(160, 114, 88, 0.3);
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: rgba(160, 114, 88, 0.3);
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: rgba(160, 114, 88, 0.3);
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: rgba(160, 114, 88, 0.3);
              }
        }

        button.search-btn {
            background: linear-gradient(#ff6c22, #ff4716);
            color: #fff;
            .fredoka_font();
            font-size: 22px;
            border: 0;
            outline: none;
            height: 78px;
            width: 181px;
            margin: 0;
            padding: 0;
            border-bottom: 3px solid #e94415;

            i {
                color: @yellow;
                margin-left: 5px;
            }

            &:hover{
                cursor: pointer;
                background: linear-gradient(#ff4716, #ff6c22);
                transition: 1.5s; 
                border-bottom: 3px solid #f36942;               
            }
        }
    }
}

.info-box {
    
    .info-align{
        display: flex;
        align-items: stretch;            
    }

    .video-box{
        width: 50%;
        background: #000000;
        color: #fff;
        padding: 41px 0;

        img {
            max-width: 100%;
            height: auto;
            opacity: 0.5;        
        }

        figure {
            position: relative;

            figcaption{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                a{
                    color: inherit;
                    margin-right: 30px;

                    &:hover{
                        color: @yellow;
                        transition: 1.5s;                       
                    }
                }

                .play-icon{
                    width: 90px;
                    height: 90px;
                    border-radius: 100%;
                    background: rgba(0, 0, 0, 0.5);
                    text-align: center;
                    line-height: 90px;
                    font-size: 25px;                    
                    display: block;
                }

                .title-data{
                    .video-title{
                        .fredoka_font();
                        font-size: 33px;
                        margin-bottom: 5px;
                    }
                    .video-subtitle{
                        .raleway_font();
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .about-box{
        width: 50%;
        background: #53a726 url(../img/man.png) right bottom no-repeat;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        i.fa-quote-left{
            position: absolute;
            top: 0;
            left: 0;
            color: rgba(0, 0, 0, 0.1);
            font-size: 100px;
            margin-left: -30px;
            margin-top: 30px;
        }

        .about-data{
            color: #fff;
            margin-left: 60px;
            max-width: 220px;

            span.name{
                display: block;
                .ptserif-font();
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 12px;
                line-height: 24px;
            }
            span.job{
                display: block;
                .raleway_font();
                font-size: 12px;
                color: #b8ece8;
                margin-bottom: 16px;
            }
            p.about-description{
                .ptserif_font();
                font-size: 12px;
                font-style: italic;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
}

.shop-slider{

    .shop-carusel{
        background: #fff;
        display: flex;

        .item{
            width: 25%;
            box-sizing: border-box;
            border-right: 1px solid #f8f4f3;
            max-height: 371px;
            overflow: hidden;

            &:hover{
                .item-img{
                 margin-top: -70px;
                 -webkit-transition: all 400ms ease-in-out; 
                  transition: all 400ms ease-in-out;
                }
                
            }

            .item-img{
                min-height: 273px;
                display: flex;
                align-items: center;
                justify-content: center;
                -webkit-transition: all 400ms ease-in-out; 
                 transition: all 400ms ease-in-out;
            }

            h4.item-title{
                color: #686868;
                text-align: center;
                .raleway_font();
                font-size: 12px;
                padding: 10px 0;
            }

            .item-price{
                padding: 20px 0;
                display: block;
                font-size: 26px;
                color: #000000;
                .fredoka_font();
                text-align: center;
            }

            a.item-btn{
                display: block;
                width: 100%;
                height: 67px;
                line-height: 67px;
                border-bottom: 3px solid #e7311e;
                background: linear-gradient(#ff4716, #ff6c22);
                text-align: center;
                .fredoka_font();
                font-size: 28px;
                color: #fff;
                text-decoration: none;

                i {
                    color: @yellow;
                    font-size: 20px;
                }
            }
        }
    }

    .top-title_line{
        min-height: 81px;
        background: linear-gradient(#ff4716, #ff6c22);
        display: flex;
        align-items: center;

        .shop-slider_nav{
            display: flex;
            align-items: stretch;

            .left{
                width: 55px;
                height: 81px;                
                background: #eb4516;
                color: #ffcaae;
                font-size: 20px;
                text-align: center;
                line-height: 81px;
                border-right: 1px solid #df4115;
                transition: 1s;
            }

            .right{
                width: 55px;
                height: 81px;                
                background: #eb4516;
                color: #ffcaae;
                font-size: 20px;
                text-align: center;
                line-height: 81px;
                transition: 1s;
            }

            .left, .right{
                cursor: pointer;
                &:hover{                    
                    background: #ef3500;
                    color: #fff;
                    transition: 1s;
                }
            }
        }

        .shop-box_title{
            flex-grow: 1;
            text-align: center;
            color: #fff;
            .fredoka_font();
            font-size: 43px;
        }

        .shop-category{
            font-size: 14px;
            .ptserif_font();
            color: #ffeb90;
            padding-right: 28px;

            .dropdown-list{
                cursor: pointer;
            }

            span.text{
                color: #fff;
                .quicksand_font();
                font-size: 14px;                
                font-weight: bold;
                border-bottom: 1px dashed #fff;
            }

            i {
                font-size: 8px;
            }
        }
    }
}

.information-box{
    .banana-box{
        width: 100%;
        min-height: 516px;
        background: url(../img/banana-bg.png) no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        h3.info-title{
            .fredoka_font();
            color: #fff;
            font-size: 43px;
            line-height: 43px;
            text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1); 
            letter-spacing: 0.74em;
            padding-bottom: 40px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            margin-bottom: 35px;
        }

        p.info-description{
            .ptserif_font();
            font-size: 24px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 0 rgba(255, 116, 43, 0.22); 
            line-height: 36px;
            padding: 0 14%;
            margin-bottom: 40px;
        }
        a.info-link{
            display: block;
            text-decoration: none;
            color: #ff742b;
            font-size: 10px;
            .quicksand_font();
            text-transform: uppercase;
            background: #fff;
            border-radius: 20px;
            box-shadow: 2px 2px 0 rgba(255, 116, 43, 0.22); 
            padding: 10px 20px;
            -webkit-transition: all 400ms ease-in-out; 
            transition: all 400ms ease-in-out;

            &:hover{
                box-shadow: none;
                -webkit-transition: all 400ms ease-in-out; 
                  transition: all 400ms ease-in-out;
            }
        }
    }
}

.blog-feedback{
    .blog-container{
        display: flex;
        align-items: stretch;
        background: #fff;

        .left-blog{
            width: 270px;
            flex-grow: 1;
            border-right: 1px solid #f2f2f2;
            text-align: center;
            padding: 40px;
            box-sizing: border-box;

            h3.blog-box_title{
                color: @orange;
                .fredoka_font();
                font-size: 63px;
                line-height: 63px;
                margin-bottom: 30px;                           
            }

            form {
                margin-bottom: 37px;
                label{
                    color: @orange;
                    .raleway_font();
                    font-size: 12px;
                    line-height: 12px;
                    margin-bottom: 16px;
                    display: block;
                }
                .email-box{
                    background: linear-gradient(#ff6726, #ff8331);
                    height: 34px;
                    width: 100%;
                    border-top: 3px solid #f26023;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    input[type="text"] {
                        height: 31px;
                        padding: 0;
                        margin: 0;
                        outline: none;
                        border: none;
                        background: transparent;                        
                        padding-left: 17px;
                        padding-right: 17px;
                        box-sizing: border-box;
                        width: ~"calc(100% - 35px)";                        
                        .raleway_font();
                        font-size: 12px;
                        font-weight: 500;
                        color: #ffcaae; 
                        margin-bottom: 3px;
                        
                        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                            color: #ffcaae; 
                          }
                          &::-moz-placeholder { /* Firefox 19+ */
                            color: #ffcaae; 
                          }
                          &:-ms-input-placeholder { /* IE 10+ */
                            color: #ffcaae; 
                          }
                          &:-moz-placeholder { /* Firefox 18- */
                            color: #ffcaae; 
                          }
                    } 
                    button.blog-email_submit{                        
                        border: none;
                        margin-right: 20px;
                        outline: none;
                        background: transparent;
                        color: #fff;
                        cursor: pointer;
                        width: 11px;
                        font-size: 15px;
                    } 
                }
            }

            .blog-list{
                article{
                    margin-bottom: 30px;
                    border-bottom: 1px solid #f2f2f2;
                    padding-bottom: 30px;

                    .blog-post_info{
                        color: #bdbcbb;
                        font-size: 10px;
                        .raleway_font();
                        padding: 15px 0;

                        i {
                            margin-right: 5px;
                        }

                        .post-date{
                            margin-right: 7px;
                        }

                        .post-comment{
                            margin-left: 7px;
                        }
                    }

                    &:last-child{
                        margin-bottom: 0;
                        border-bottom: none;
                        padding-bottom: 0;
                    }

                    a.post-title{
                        color: #000000;
                        .ptserif_font();
                        font-size: 16px;
                        line-height: 20px;  
                        text-decoration: none;
                        
                        &:hover{
                            text-decoration: underline;                            
                        }
                    }
                }
            }
        }
        .right-feedback{
            width: ~"calc(100% - 271px)";

            .feedback-container{
             
                .tab-item{
                    display: none;
                    .feedback-title{
                        .ptserif_font();
                        font-size: 24px;
                        font-weight: 700;
                        color: #000000;
                        padding: 50px 40px 15px 40px; 
                    }
                    .feedback-adress{
                        font-size: 12px;
                        .raleway_font();
                        color: #d4d3d2;
                        display: block;
                        padding: 0 40px 24px 40px;

                        i{
                            margin-right: 10px;
                        }
                    }

                    .cite{
                        display: block;
                        color: #7b7a79;
                        font-size: 22px;
                        font-style: italic;
                        .ptserif_font();
                        line-height: 30px;
                        padding: 0 40px 40px 40px;
                    }

                    .feedback-gallery{
                        display: flex;
                        margin-bottom: 40px;
                    }
                    p.feedback-description{
                        padding: 0 40px 35px 40px;
                        .raleway_font();
                        color: #7b7a79;
                        font-size: 13px;
                        line-height: 24px;
                    }
                }
                .tab-0{
                    display: block;
                }
            }
            .feedback-slider_box{
                display: flex;
                align-items: stretch;
                border-top: 4px solid #fff3ef;

                .left-arrow, .right-arrow{
                    width: 59px;
                    height: 243px;
                    background: #fff3ef;
                    
                    .left, .right{
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: center;                        
                        color: @orange; 
                        font-size: 20px;                       

                        &:hover{
                            background: linear-gradient(#5ab527, #3c911b);
                            cursor: pointer;                            
                            color: #fff;
                        }
                    }
                }
                .feedback-carousel{
                    width: ~"calc(100% - 118px)";
                    display: flex; 
                    margin-top: -10px;
                    
                    .slick-list{
                        padding-top: 10px;
                    }

                    .slick-slide{
                        &.slick-current{
                            .person{
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 12px 12px 12px;
                                    border-color: transparent transparent #fff3ef transparent;
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    margin-left: -12px;
                                    margin-top: -12px;
                                }                        
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    border-style: solid;
                                    border-width: 0 8px 8px 8px;
                                    border-color: transparent transparent #ffffff transparent;
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    margin-left: -8px;
                                    margin-top: -8px;
                                }
                                img{
                                    border: 11px solid #ffefdc;
                                }
                            }
                        }
                    }

                    .person{                         
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        position: relative;
                        min-height: 239px;
                       
                        img{
                            border-radius: 100%;
                            border: 11px solid transparent;
                            margin-bottom: 15px;
                        }

                        h6.person_name{
                            .ptserif_font();
                            font-size: 16px;
                            font-weight: 700;
                            color: #000000;
                            line-height: 16px;
                            margin-bottom: 9px;
                        }

                        span.person_adress{
                            .raleway_font();
                            font-size: 11px;
                            color: #d4b8a9;
                        }                        
                    }
                }
            }
        }
    }
}

.adds_block{
    margin-top: 40px;
    .three-boxes{
        display: flex;
        align-items: stretch;
        margin-bottom: 75px;

        .item-box{
            width: 33.33333%;
            min-height: 234px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 35px;
            box-sizing: border-box;

            .adds_title{
               .fredoka_font();
               color: #fff;
               font-size: 40px;
               line-height: 40px;
               margin-bottom: 9px; 
            }

            a.adds_link{
                text-decoration: none;
                color: #fff;
                .quicksand_font();
                font-size: 10px;
                text-transform: uppercase;
                display: inline-block;

                &:hover{
                    text-decoration: underline;
                }
            }

            &.item-1{
                background: url(../img/blocks/orange.png) no-repeat center center;
                box-shadow: 0 40px 50px -35px rgba(255, 129, 52, 0.55);
            }

            &.item-2{
                background: url(../img/blocks/vegetables.png) no-repeat center center;
                box-shadow: 0 40px 50px -35px rgba(75, 163, 33, 0.55);
            }

            &.item-3{
                background: url(../img/blocks/berries.png) no-repeat center center;
                box-shadow: 0 40px 50px -35px rgba(218, 45, 80, 0.55);
            }
        }
    }
}

.top-footer{
    .footer_container{
        display: flex;
        padding-bottom: 80px;

        .navigation_box, .contacts_box, .twitter_box{
            width: 33.33333%;
        }

        .twitter_box{
            h6.widget_title{
                color: #5ad2ff;
                .fredoka_font();
                font-size: 19px;
                line-height: 19px;
                margin-bottom: 24px;
                
            }

            i {
                margin-right: 8px;
                font-size: 20px;
            }

        .twitter-slider{
                display: flex;

                .arrows{
                    width: 30px;

                    .up i{
                        display: block;
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                        background: #c1a392;
                        color: #fff;
                        font-size: 7px;
                        text-align: center;
                        line-height: 14px;
                        margin-right: 0;
                        margin-bottom: 6px; 
                        cursor: pointer;
                        transition: 1s;
                        
                        &:hover{
                            background: @orange;
                            transition: 1s;
                        }
                    }

                    .down i{
                        display: block;
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                        background: #c1a392;
                        color: #fff;
                        font-size: 7px;
                        text-align: center;
                        line-height: 14px;
                        margin-right: 0;  
                        cursor: pointer;  
                        
                        &:hover{
                            background: @orange;
                            transition: 1s;
                        }
                    }
                }

                .content_slider_twitter{
                    width: ~"calc(100% - 30px)";

                    p {
                        .ptserif_font();
                        font-size: 13px;
                        font-style: italic;
                        color: #7b7a79;
                        line-height: 18px;
                        margin-bottom: 13px;
                    }
                    .author{
                        .raleway_font();
                        color: #5ad2ff;
                        font-size: 11px;
                        font-weight: 700;
                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }

                    .time{
                        .raleway_font();
                        font-size: 11px;
                        color: #7b7a79;
                    }
                }
            }
        }

        .contacts_box{
            h6.widget_title{
                .fredoka_font();
                color: @orange;
                font-size: 18px;
                line-height: 18px;
                margin-bottom: 28px;
            }

            span {
                display: block;
            }

            .phone{
                color: #7b7a79;
                .quicksand_font();
                font-size: 29px;
                font-weight: 400;
                margin-bottom: 10px;

                strong{
                    font-weight: 700;
                }
            }

            a{
                color:#7b7a79;
                text-decoration: none;
                .raleway_font();
                font-size: 12px;
                
                &:hover{
                    text-decoration: underline;
                }
            }

            .adress{
                color:#7b7a79;
                margin-top: 10px;
                font-size: 11px;
                .raleway_font();

                strong{
                    font-weight: 700;
                }
                
                i {
                    color: #c5c3c2;
                    margin-right: 5px;
                }
            }
        }

        .navigation_box{
            display: flex;

            h6.widget_title{
                .fredoka_font();
                color: @orange;
                font-size: 18px;
                line-height: 18px;
                margin-bottom: 28px;
            }

            nav ul {
                color: #7b7a79;
                font-size: 11px;
                .raleway_font();
                line-height: 24px;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .navigation-1, .navigation-2{
                width: 50%;
            }
        }
    }
}

footer.footer{
    background: @orange;
    color: #fff;
    min-height: 220px;
    position: relative;

    &::before{
        content: '';
        display: block;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(#f95529, #ff742b);
    }

    .footer_nav{
        min-height: 86px;
        border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        ul{
            font-size: 0;
            li{
                display: inline-block;
                font-size: 12px;
                .quicksand_font();
                text-transform: uppercase;

                a{
                    transition: 1s;

                    &:hover{
                        transition: 1s;
                        opacity: 0.7;
                    }
                }

                &:first-child{
                    &::before{
                        display: none;
                    }
                }

                &::before{
                    content: '•';
                    display: inline-block;
                    margin-right: 28px;
                    margin-left: 28px;
                }
            }
        }
    }

    a {
        color: inherit;
        text-decoration: none;
    }
    .social-block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 55px;

        .social-icons{
            span{
                a{
                    transition: 1s;
                    &:hover{
                        transition: 1s;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
                i{
                    margin-right: 10px;                    
                }
            }
             .rights{
                 margin-left: 20px;
                 .raleway_font();
                 font-size: 11px;
             }
        }
    }
}

/* Responsive code section */

//Laptop or small devices
@media only screen and (max-width:960px){
    .wrapper{
        width: ~"calc(100% - 20px)";
    }
}

//Tablet
@media only screen and (max-width:768px){
    .inner-header nav > ul {
        display: none;
    }
    .inner-header .main-nav .fa-bars {
        display: block;
        color: #fff;
        margin-left: 20px;
        margin-right: 20px;
    }
    .inner-header .main-nav .fa-times{
        color: #fff;
        margin-left: 20px;
        margin-right: 20px;
    }
    .inner-header .main-nav{
        display: flex;
    }
    .inner-header nav > ul > li{
        margin: 0 3px;
        font-size: 11px;
    }
    .inner-header nav > ul > li a{
        line-height: 12px;
    }
    .home-slider .slide .slide-title{
        font-size: 40px;
        line-height: 50px;
    }
    .home-slider .slide{
        height: 450px;
    }
    .home-slider .slide .slide-data{
        height: 300px;
    }
    .blog-feedback .blog-container .right-feedback .feedback-container .tab-item .feedback-gallery a img {
        width: 100%;
    }
    .blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person img {
        max-width: 60%;
    }
    .blog-feedback .blog-container .right-feedback .feedback-slider_box .feedback-carousel .person h6.person_name{
        font-size: 12px;
    }
    .adds_block .three-boxes .item-box {
        min-height: 180px;
    }
    .adds_block .three-boxes .item-box .adds_title{
        font-size: 35px;
    }
}

//Mobile
@media only screen and (max-width:414px){
    .home-slider .slide .slide-title{
        font-size: 24px;
        line-height: 20px;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    }
    .home-slider .slide .slide-description{
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }
    .home-slider .slide .slide-data{
        display: block;
        min-height: 0;
        padding-top: 30px;
    }
    .home-slider .slide .img-price{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .slick-slide img {
        max-width: 50%;
    }
    .home-slider ul.slick-dots {
        margin-left: 15px;
    }
    section.about-us span.subtitle {
        font-size: 18px;
    }
    .info-box .info-align{
        flex-direction: column;
    }
    .info-box .video-box, .info-box .about-box  {
        width: 100%;
    }
    .info-box .about-box{
        min-height: 310px;
    }
    .shop-slider .top-title_line .shop-box_title{
        font-size: 18px;
    }
    .shop-slider .top-title_line .shop-slider_nav .right, .shop-slider .top-title_line .shop-slider_nav .left{
        width: 40px;
    }
    .shop-slider .top-title_line .shop-category{
        padding-right: 10px;
    }
    .shop-slider .shop-carusel .item{
        max-height: none;
    }
    .shop-slider .shop-carusel .item:hover{
        .item-img{
            margin: 0;
        }
    }
    .information-box .banana-box h3.info-title{
        font-size: 35px;
        letter-spacing: 0.2em;
        text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    }
    .information-box .banana-box p.info-description {
        font-size: 18px;
        line-height: 24px;
    }
    .blog-feedback .blog-container{
        flex-direction: column;
    }
    .blog-feedback .blog-container .left-blog, .blog-feedback .blog-container .right-feedback, 
    .adds_block .three-boxes .item-box.item-1, .adds_block .three-boxes .item-box.item-2, .adds_block .three-boxes .item-box.item-3{
        width: 100%;
    }
    .adds_block .three-boxes{
        flex-direction: column;
        align-items: center;
    }
    .adds_block .three-boxes .item-box{
        padding-left: 65px;
        margin-bottom: 30px;
        max-width: 320px;
    }
    .top-footer .footer_container{
        flex-wrap: wrap;
    }
    .top-footer .footer_container .navigation_box{
        width: 100%;
        margin-bottom: 20px;
    }
    .top-footer .footer_container .contacts_box{
        width: 50%;
    }
    .top-footer .footer_container .twitter_box{
        width: 50%;
    }
    .top-footer .footer_container .contacts_box .phone{
        font-size: 19px;
    }
    footer.footer .footer_nav ul li::before{
        display: none;
    }
    footer.footer .footer_nav ul li{
        padding: 3px;
    }
}
